.container {
    margin: 10px 30px;
}

.dateContainer {
    padding: 10px 20px;
    align-items: center;
}

.dateContainerDigit {
    font-weight: 700;
}

.dateContainerday {
    opacity: .5;
}

.row {
    flex-direction: row;
}