.container {
  margin: 0 30px;
}

.headerContainer {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header {
  padding: 20px;
  font-weight: 400;
  font-size: 44px;
  text-align: center;
  margin-left: -20px;
  flex: 1;
}

.name {
  flex-direction: row;
  justify-content: space-between;
}

.dateInput {
  width: 30%;
  height: 30px;
  border-radius: 8px;
  border-color: #cacaca;
  border-width: 1px;
  margin-bottom: 20px;
}

.label {
  padding: 10px;
  opacity: 0.6;
}

.weightBox {
  flex-direction: row;
  align-items: center;
}

.buttonComponent {
  border: 1px solid #cacaca;
  background: #4c97f4;
  border-radius: 30px;
  width: 200px;
  margin: 30px auto;
  padding: 10px;
}

.signupButtonContainer {
  align-self: flex-end;
  position: absolute;
  top: 700;
}

.signupContainerButton {
  align-items: center;
  flex-direction: row;
}

.signupButtonContainerText {
  color: #4c97f4;
  font-weight: 700;
}

.dateWeightContainer {
    flex-direction: row;
    justify-content: space-between;
}

.errorMsg {
    text-align: center;
    color: red;
}
